In [2]:
# assisgnment 1
# question 1
my_string = "Hello, world!"

In [ ]:
my_list = [1, 2, 3, 4, 5]

In [4]:
my_float = 3.14159


my_tuple = (1, 2, 3, 4, 5)

In [5]:
# quetion 2
var1=''
type(var1)

str

In [10]:
var2 = '[ DS , ML , Python]'
type(var2)

str

In [14]:
var3 = [ 'DS' , 'ML' , 'Python' ]
type(var3)

list

In [16]:
var4=1.
type(var4)

float

In [17]:
# question3
a = 10
b = 3
result = a / b
print(result)

3.3333333333333335

In [18]:
a = 10
b = 3
result = a % b
print(result)

1

In [19]:
a = 10
b = 3
result = a // b
print(result)

3

In [20]:
a = 10
b = 3
result = a ** b
print(result)

1000

In [23]:
# question4
my_list = [1, "two", 3.0, True, [4, 5], {"name": "satyam", "age": 21}, None, ('a', 'b'), False, 10.5]

for item in my_list:
    print(item, type(item))

1 <class 'int'>
two <class 'str'>
3.0 <class 'float'>
True <class 'bool'>
[4, 5] <class 'list'>
{'name': 'satyam', 'age': 21} <class 'dict'>
None <class 'NoneType'>
('a', 'b') <class 'tuple'>
False <class 'bool'>
10.5 <class 'float'>

In [24]:
# question5
A = 100
B = 5
count = 0

while A % B == 0:
    A /= B
    count += 1

print(f"A is divisible by B {count} times.")

A is divisible by B 2 times.

In [32]:
# question6
my_list = [11, 9, 15, 17, 21, 36, 45, 8, 3, 17, 30, 22, 6, 11, 42, 18, 33, 25, 2, 39, 13, 24, 1, 10, 121]

for element in my_list:
    if element % 3 == 0:
        print(f"{element} is divisible by 3.")
    else:
        print(f"{element} is not divisible by 3.")

11 is not divisible by 3.
9 is divisible by 3.
15 is divisible by 3.
17 is not divisible by 3.
21 is divisible by 3.
36 is divisible by 3.
45 is divisible by 3.
8 is not divisible by 3.
3 is divisible by 3.
17 is not divisible by 3.
30 is divisible by 3.
22 is not divisible by 3.
6 is divisible by 3.
11 is not divisible by 3.
42 is divisible by 3.
18 is divisible by 3.
33 is divisible by 3.
25 is not divisible by 3.
2 is not divisible by 3.
39 is divisible by 3.
13 is not divisible by 3.
24 is divisible by 3.
1 is not divisible by 3.
10 is not divisible by 3.
121 is not divisible by 3.

In [33]:
# question7
# Immutable data types
str1 = "Hello"
str2 = str1
str1 = str1 + " World"

print(str1)  # Output: "Hello World"
print(str2)  # Output: "Hello"

Hello World
Hello

In [34]:
# Mutable data types
list1 = [1, 2, 3]
list2 = list1
list1.append(4)

print(list1)  # Output: [1, 2, 3, 4]
print(list2)  # Output: [1, 2, 3, 4]

[1, 2, 3, 4]
[1, 2, 3, 4]